@tailwind base;
@tailwind components;
@tailwind utilities;


html{
    font-family:'Open Sans', sans-serif;
    font-size:medium;
    font-weight:300;
}

span{
    font-family:inherit;
    font-size:inherit;
}

h1 {
    font-family:'Arizona', sans-serif;
    font-size:1.5em;
}

h2 {
    font-family:"Arizona Bold", sans-serif;
    font-size:1em;
}

@font-face {
    font-family: 'Arizona';
    src: url('./public/ABCArizonaSerif-Thin-Trial.woff2') format('woff2'),
         url('./public/ABCArizonaSerif-Thin-Trial.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    /* add font-ABC in class to use */
}

@font-face {
    font-family: 'Arizona Bold';
    src: url('./public/ABCArizonaSerif-Regular-Trial.woff2') format('woff2'),
         url('./public/ABCArizonaSerif-Regular-Trial.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    /* add font-ABC in class to use */
}

